* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  background-color: #eeebeb;
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.5rem;
}

.nav p {
  font-size: 1.5rem;
  font-weight: 700;
}

.signup-btn {
  border: 0.5px solid #2b7a78;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #2b7a78;
  text-decoration: none;
}

.signup-btn:hover,
.signup-btn:focus {
  background-color: #2b7a78;
  color: #fff;
  cursor: pointer;
}

.img-illustration {
  background-color: #b8d3d2;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.img {
  height: 100%;
  width: 100%;
}

.signin {
  background-color: #fefefe;
  padding: 2rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.signin h2 {
  text-align: center;
  color: #272727;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem;
}

.form-input {
  margin: 0.6rem 0;
  width: 100%;
  padding: 1rem 2.6rem;
  border-radius: 8px;
  border: 1px solid #bababa;
}

input:focus {
  outline-color: #2b7a78;
}

.icon,
.icon2 {
  position: relative;
}

.icon > img {
  position: absolute;
  top: 26px;
  padding-left: 0.8rem;
}

.icon2 .img1 {
  position: absolute;
  bottom: -45px;
  padding-left: 0.8rem;
}

.icon2 .img2 {
  position: absolute;
  bottom: -45px;
  right: 10px;
  cursor: pointer;
}

label {
  color: #525252;
  font-size: 1rem;
  line-height: 1.5px;
}

.psw {
  display: flex;
  align-items: center;
}

.psw-remember {
  display: flex;
  width: 50%;
  align-items: center;
}

.psw-remember label{
  padding-left: 0.5rem;
  text-decoration: none;
  color: #525252;
}

.psw-forgot {
  width: 50%;
  text-align: right;
}

.psw-forgot p a {
  text-decoration: none;
  color: #2b7a78;
  font-weight: 600;
  text-align: right;
}
.password {
  margin-bottom: 1.5rem;
}

.signin-btn {
  background-color: #2b7a78;
  border-radius: 10px;
  width: 100%;
  padding: 0.5rem;
  border: none;
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fefefe;
}

.signin-btn:hover,
.signin-btn:focus {
  background-color: #037067;
  color: #fff;
  cursor: pointer;
}

.signin-options {
  display: flex;
  justify-content: space-between;
}

.signin-options .btn-icon {
  width: 45%;
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px solid #2b7a78;
  background-color: #fff;
  font-weight: 700;
  color: #423e3e;
  font-size: 1.3rem;
}

.btn-icon {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50%;
}

.btn-icon:hover,
.btn-icon:focus {
  cursor: pointer;
}

.signin-options img {
  padding-right: 0.5rem;
}

.signin-option .signup-text {
  padding: 3rem;
  text-align: center;
}

.cta {
  text-decoration: none;
  color: #2b7a78;
}

/* MEDIA QUERIES AND RESPONSIVENESS */

@media screen and (min-width: 768px) {
  body {
    padding: 2.5rem;
    max-width: 90%;
    margin: auto;
  }
  .signin-option .signup-text,
  .psw {
    font-size: 1.3rem;
  }
  .checkbox {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    width: 80%;
    height: 750px;
    margin: auto;
    display: flex;
  }

  .img-illustration {
    width: 40%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
  }

  .signin {
    padding: 2.5rem;
    width: 70%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
  }
  .signin-btn {
    padding: 0.9rem;
    font-weight: 600;
    font-size: 1.3rem;
  }
}
